<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Contact us</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <header class="header">
            <a href="index.html" class="logo"><i class="fas fa-laptop-code"></i></i>KHP</a>

            <nav class="navbar">
                <a href="index.html">Home</a>
                <a href="products.html">Products</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </nav>

            <div class="icons">
                <div class="fas fa-bars" id="menu-btn"></div>
                <div class="fas fa-shopping-cart" id="cart-btn"></div>
            </div>

            <div class="small-cart">
                <h2>Cart</h2>
                <form action="">
                    <table>
                        <tr>
                            <td>
                                <div class="small-cart-info">
                                    <img src="images/asus-rog-zephyrus-g14.png" alt="">
                                    <div style="align-items: center; padding: 20px 0px;">
                                        <p>Asus ROG Zephyrus G14</p>
                                        <!-- <small>Price: $50</small> -->
                                        <p><span class="sm-cart-product-price">39.199.000</span><sup>đ</sup></p>
                                        <br>
                                    </div>
                                </div>
                            </td>
                            <td><input type="number" value="1"></td>
                            <td><a href="">X</a></td>
                        </tr>

                    </table>

                    <div class="price-total">
                        <p>Tổng tiền: <span>39.199.000</span><sup>đ</sup></p>
                    </div>
                    <div class="small-cart-btn">
                        <a href="payment.html" class="dat-hang">Đặt hàng</a>
                        <a href="cart.html" class="xem-gio-hang">Xem giỏ hàng</a>
                        <!-- <button class="thanh-toan">Đặt hàng</button>
                        <button class="xem-gio-hang">Xem giỏ hàng</button> -->
                    </div>
                    
                    
                </form>
            </div>

            
        </header>


        <div class="contact-container">
            <h1>Connect with us</h1>
            <p>We would love to respond to your queries and help you succeed. Feel free to get in touch with us.</p>
            <div class="contact-box">
                <div class="contact-left">
                    <h3>Send your request</h3>
                    
                    <form action="">

                        <div class="contact-input-row">
                            <div class="contact-input-group">
                                <label for="">Name</label>
                                <input type="text" placeholder="Your name">
                            </div>
                            <div class="contact-input-group">
                                <label for="">Phone</label>
                                <input type="text" placeholder="Your phone">
                            </div>
                        </div>

                        <div class="contact-input-row">
                            <div class="contact-input-group">
                                <label for="">Email</label>
                                <input type="email" placeholder="Your email">
                            </div>
                            <div class="contact-input-group">
                                <label for="">Product</label>
                                <input type="text" placeholder="Product">
                            </div>
                        </div>

                        <label for="">Message</label>
                        <textarea name="" id="" cols="30" rows="5" placeholder="Your massage"></textarea>
                        
                        <button type="submit">Send</button>

                    </form>

                </div>
                <div class="contact-right">
                    <h3>Reach Us</h3>
                    <table>
                        <tr>
                            <td>Email</td>
                            <td>contactus@khp.com</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>+84 123-456-789</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Can Tho, Vietnam</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <section class="footer">

            <div class="box-footer-container">
        
                <div class="box-footer">
                    <h3> KHP <i class="fas fa-laptop-code"></i> </h3>
                    <p></p>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
        
                <div class="box-footer">
                    <h3>contact info</h3>
                    <a href="#" class="links"> <i class="fas fa-phone"></i> +84 123-456-789 </a>
                    <a href="#" class="links"> <i class="fas fa-phone"></i> +84 123-456-789 </a>
                    <a href="#" class="links"> <i class="fas fa-envelope"></i> contactp@khp.com </a>
                    <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Can Tho, Vietnam</a>
                </div>
        
                <div class="box-footer">
                    <h3>quick links</h3>
                    <a href="index.html" class="links"> <i class="fas fa-arrow-right"></i> home </a>
                    <a href="#" class="links"> <i class="fas fa-arrow-right"></i> features </a>
                    <a href="products.html" class="links"> <i class="fas fa-arrow-right"></i> products </a>
                    <a href="about.html" class="links"> <i class="fas fa-arrow-right"></i> about </a>
                    <a href="contact.html" class="links"> <i class="fas fa-arrow-right"></i> contact </a>
                </div>
        
                <div class="box-footer">
                    <h3>newsletter</h3>
                    <p>subscribe for latest updates</p>
                    <input type="email" placeholder="your email" class="email">
                    <input type="submit" value="subscribe" class="btn">
                    <img src="images/payment.png" class="payment-img" alt="">
                </div>
        
            </div>
        
        </section>
    </body>

    <script src="js/script.js"></script>

</html>