{% extends 'store/main.html' %}
{% load static %}
{% block title %}Your Cart{% endblock title %}
{% block content %}

        <section>

            <div class="large-cart-container">
                <div class="box-element">
                    <div class="cart-row">
                        <div style="flex:2;"></div>
                        <div style="flex:2;"><strong>Item</strong></div>
                        <div style="flex:1;"><strong>Price</strong></div>
                        <div style="flex:1;"><strong>Quantity</strong></div>
                        <div style="flex:1;"><strong>Total</strong></div>
                    </div>

                    {% for item in items %}
                    <div class="cart-row">
                        <div style="flex: 2">
                            <img src="{{item.product.imageURL}}" alt="" class="row-image">
                        </div>
                        <div style="flex: 2;">{{item.product.name}}</div>
                        <div style="flex: 1;">{{item.product.price}}<sup>đ</sup></div>
                        <div style="flex: 1;">
                            <p class="quantity">{{item.quantity}}</p>
                            <div class="quantity">
                                <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static 'images/icons/top-arrow.png' %}" alt="">
                                <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static 'images/icons/bottom-arrow.png' %}" alt="">
                            </div>
                        </div>
                        <div style="flex: 1;">{{item.get_total}}<sup>đ</sup></div>
                    </div>
                    {% endfor %}

                </div>
                <br>

                <div class="box-element">
                    <br>
                    <table style="width: 100%;" class="cart-table">
                        <tr>
                            <th><h5 style="float: left; font-size: 16px;">Items: <strong>{{cart.get_cart_items}}</strong></h5></th>
                            <th><h5 style="float: left; font-size: 16px;">Total: <strong>{{cart.get_cart_total}}</strong><sup>đ</sup></h5></th>
                            <th style="float: right">
                                <a class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                            </th>
                        </tr>
                    </table>
    
                </div>

            </div>
        </section>

{% endblock content %}