{% extends 'store/main.html' %}
{% load static %}
{% block title %}ASUS ROG Zephyrus G14 GA401QM K2041T{% endblock title %}
{% block content %}
    <div class = "product-detail">
        <div class = "product-detail-container">
            <div class = "product-div">
                <div class = "product-div-left">
                    <div class = "product-detail-img-container">
                        <img src = "{% static 'images/asus-rog-zephyrus-G14(1).jpg' %}" alt = "">
                    </div>
                    <div class = "product-detail-hover-container">
                        <div><img src = "{% static 'images/asus-rog-zephyrus-G14(1).jpg' %}"></div>
                        <div><img src = "{% static 'images/asus-rog-zephyrus-G14(4).jpg' %}"></div>
                        <div><img src = "{% static 'images/asus-rog-zephyrus-G14(5).jpg' %}"></div>
                        <div><img src = "{% static 'images/asus-rog-zephyrus-G14(2).jpg' %}"></div>
                        <div><img src = "{% static 'images/asus-rog-zephyrus-G14(3).jpg' %}"></div>
                    </div>
                </div>
                <div class = "product-div-right">
                    <span class = "product-detail-name">ASUS ROG Zephyrus G14 GA401QM K2041T</span>
                    <!-- <span class = "product-detail-price">48.990.000<sup>đ</sup></span> -->
                    <span class = "product-detail-price_off">48.990.000<sup>đ</sup></span>
                    <div class = "product-detail-rating">
                        <span><i class = "fas fa-star"></i></span>
                        <span><i class = "fas fa-star"></i></span>
                        <span><i class = "fas fa-star"></i></span>
                        <span><i class = "fas fa-star"></i></span>
                        <span><i class = "fas fa-star-half-alt"></i></span>
                        <span>(850 ratings)</span>
                    </div>
                    <div class="box-param">
                        <div class="box-param_list">
                            <ul>
                                <li>
                                    <span>14-inch WQHD (2560 x 1440) 16:9, anti-glare display, 120Hz, IPS-level</span>
                                </li>
                                <li>
                                    <span>AMD Ryzen 9 5900HS</span>
                                </li>
                                <li>
                                    <span>32GB DDR4-3200Mhz SO-DIMM</span>
                                </li>
                                <li>
                                    <span>1TB M.2 NVMe™ PCIe® 3.0</span>
                                </li>
                            </ul>
    
                        </div>
                    </div>
                    
                    <div class="box-promo">
                        <p>Ưu đãi</p>
                        <div class="box-promo_list">
                            <ul>
                                <li>
                                    <i class="fas fa-check-circle"></i>
                                    <span>Tặng PMH 200.000đ mua phụ kiện</span>
                                </li>
                                <li style="display: flex;">
                                    <i class="fas fa-check-circle"></i>
                                    <span>Giảm đến 300.000đ khi mua bảo hành (rơi vỡ + vào nước) kèm máy</span>
                                </li>
                                <li style="display: flex;">
                                    <i class="fas fa-check-circle"></i>
                                    <span>Tặng PMH 100.000đ mua Microsoft 365 Personal/Family/Home & Student</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class = "product-detail-btn-groups">
                        <button type = "button" class = "product-detail-add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                        <!-- <button type = "button" class = "product-detail-buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section style="padding: 0 0; justify-content: center; align-items: center; background-color: #f1f1f1;">
        <div style="width: 88vw; margin: 0 auto; background-color: white; padding: 10px;">
            <h3 style="font-size: 1.6rem; padding: 4px 10px; display: inline-block; font-weight: 500; background-color: #f7f7f7;">Sản phẩm tương tự</h3>
            <div style=" display: flex;">
                <div style="margin-right: 16px;">
                    <div class = "">
                        <div style="width: 150px; height: 150px;">
                            <a href="product_detail.html"><img style="width: 100%; display: block;" src = "{% static 'images/asus_rog_strix_scar_15.png' %}" alt = "product image"></a>
                        </div>
                        <a style="font-size: 12px;" href = "{% url 'product_detail' %}">Asus ROG Strix SCAR 15 G533QM...</a>
                        <p style="font-size: 12px; padding-top: 0.96rem;">49990000<sup>đ</sup></p>
                    </div>
                </div>
                <div style="margin-right: 16px;">
                    <div class = "">
                        <div style="width: 150px; height: 150px;">
                            <a href="product_detail.html"><img style="width: 100%; display: block;" src = "{% static 'images/asus-rog-zephyrus-m16.png' %}" alt = "product image"></a>
                        </div>
                        <a style="font-size: 12px;" href = "{% url 'product_detail' %}">Asus ROG Zephyrus G15 GA503QM...</a>
                        <p style="font-size: 12px; padding-top: 0.96rem;">45990000<sup>đ</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product-detail-content">
        <div class="product-detail-content-container">
            <div class="product-detail-content-box">
                <div class="product-detail-content-left">
                    <h1>Laptop Gaming ASUS ROG Zephyrus G14 GA401QM K2041T</h1>
                    <div class="video-product">
                        <div>
                            <video id="video1" controls>
                                <source src="{% static 'images/ROG Zephyrus G14 - ROG.mp4' %}">
                            </video>
                        </div>
                    </div>

                    <p>Màn hình hiển thị tuyệt đẹp — WQHD 120Hz độ phân giải cao và gam màu DCI-P3 chuyên nghiệp làm mới cao giúp bạn đắm chìm với màu sắc đã được Pantone ® xác thực sống động như thật. Tấm nền này cũng hỗ trợ Adaptive-Sync, đồng bộ hóa màn hình và GPU để loại bỏ hiện tượng xé hình và giúp quá trình chơi game trở nên mượt mà. Bốn loa phát ra âm thanh Dolby Atmos tươi tốt, trong khi tính năng Chống ồn AI hai chiều độc quyền giúp cuộc trò chuyện bằng giọng nói trở nên rõ ràng như pha lê.</p>
                    
                    <div>
                        <img src="{% static 'images/product-detail_asus-rog-zephyrus-g14_2.jpg' %}" alt="">
                    </div>
                    
                    <p>ROG Zephyrus G14 2021 sở hữu sức mạnh chưa từng có vào một thân máy 14 inch chỉ nặng 1,6kg. CPU AMD Ryzen ™ 9 5900HS được điều chỉnh với mức tiêu thụ điện năng thấp hơn và bộ tản nhiệt mang lại hiệu suất vượt trội. Công nghệ quy trình 7nm tiên tiến đặt tối đa 8 lõi và 16 luồng trên một con chip duy nhất, cho phép bạn vượt qua khối lượng công việc nặng nề. Card đồ họa GeForce RTX ™ 3060 có thể mở khóa hiệu suất cao hơn nữa với ROG Boost và chuyển từ chơi game nhịp độ nhanh sang tạo nội dung trong nháy mắt.</p>
                    <div>
                        <img src="{% static 'images/product-detail_asus-rog-zephyrus-g14_3.jpg' %}" alt="">
                    </div>
                    <p>Đây là chiếc ROG đầu tiên có tính năng đăng nhập bằng vân tay trên nút nguồn. Dễ dàng sử dụng các phím nóng chuyên dụng để tăng giảm âm lượng, tắt tiếng micrô và phần mềm ROG Armoury Crate. Công nghệ vượt trội kích hoạt cao hơn trong mỗi lần nhấn phím để phản hồi nhanh hơn và thiết kế ErgoLift nâng bàn phím lên một góc để giúp việc gõ phím thoải mái hơn bao giờ hết.</p>
                    <div>
                        <img src="{% static 'images/product-detail_asus-rog-zephyrus-g14_4.jpg' %}" alt="">
                    </div>
                    <p>Được trang bị Wi-Fi 6 (802.11ax) mới nhất, bạn có thể chơi game ở tốc độ mạng LAN ở bất kỳ nơi nào có kết nối tương thích. Wi-Fi 6 tăng tốc độ và hiệu quả, mang lại kết nối tốt hơn cho những không gian đông đúc như quán cà phê và thư viện. Nó cũng làm giảm độ trễ, có nghĩa là ít lag hơn cho các hoạt động nhạy cảm với mạng như chơi game trực tuyến. </p>
                    <div>
                        <img src="{% static 'images/product-detail_asus-rog-zephyrus-g14_5.jpg' %}" alt="">
                    </div>
                    <p>Tản nhiệt giải phóng hiệu năng đỉnh cao trong Zephyrus G14 2021 nhờ hệ thống làm mát tự làm sạch ngăn bụi tích tụ ảnh hưởng đến hiệu suất lâu dài, trong khi quạt Arc Flow kép quay 84 cánh mỗi cánh để tạo ra luồng không khí ấn tượng trong khung mỏng.

                        Phần mềm ROG Armoury Crate hợp nhất các điều khiển hệ thống và ánh sáng để đưa các cài đặt cần thiết vào tầm tay bạn trong một tiện ích duy nhất. </p>
                    <div>
                        <img src="{% static 'images/product-detail_asus-rog-zephyrus-g14_6.jpg' %}" alt="">
                    </div>
                    <p>ASUS ROG Zephyrus G14 GA401QM-K2041T được trang bị nhiều loại cổng làm cho G14 trở nên đặc biệt linh hoạt hơn. Thúc đẩy màn hình thứ hai sang đa nhiệm hiệu quả hơn qua cổng USB-C với DisplayPort 1.4. Xem phim 4K UHD trên màn hình lớn hoặc dễ dàng kết nối máy chiếu với HDMI 2.0b. Kết nối chuột, gamepad, máy tính bảng vẽ và các thiết bị ngoại vi khác của bạn để chơi hoặc sáng tạo ở bất cứ đâu. Không cần thiết bị hỗ trợ với giắc cắm tai nghe 3,5 mm được tích hợp sẵn.</p>
                    <div>
                        <img src="{% static 'images/Asus-ROG-Zephyrus-G14-12.jpg' %}" alt="">
                    </div>

                </div>

                <div class="product-detail-content-right">
                    <h3>Thông số kỹ thuật</h3>
                    <table>
                        <tr>
                            <td>CPU</td>
                            <td>AMD Ryzen 9 5900HS 3.00GHz upto 4.60GHz, 8 cores 16 threads</td>
                        </tr>
                        <tr>
                            <td>RAM</td>
                            <td>32GB DDR4-3200Mhz SO-DIMM</td>
                        </tr>
                        <tr>
                            <td>Ổ cứng</td>
                            <td>1TB M.2 NVMe™ PCIe® 3.0</td>
                        </tr>
                        <tr>
                            <td>GPU</td>
                            <td>NVIDIA GeForce GTX 1650 Ti 4GB GDDR6</td>
                        </tr>
                        <tr>
                            <td>Màn hình</td>
                            <td>14-inch WQHD (2560 x 1440) 16:9, anti-glare display, 120Hz, IPS-level</td>
                        </tr>
                        <tr>
                            <td>Cổng giao tiếp</td>
                            <td>1x USB 3.2 Gen 2 Type-C 2x USB 3.2 Gen 1 Type-A 1x USB 3.2 Gen 2 Type-C support DisplayPort / power delivery / G-SYNC</td>
                        </tr>
                        <tr>
                            <td>Audio</td>
                            <td>2x 2.5W speaker with smart AMP technology, Dolby Atmos Software</td>
                        </tr>
                        <tr>
                            <td>Đọc thẻ nhớ</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>Chuẩn LAN</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>Chuẩn WIFI</td>
                            <td>Intel Wi-Fi 6 with Gig+ performance (802.11AX)</td>
                        </tr>
                        <tr>
                            <td>Bluetooth</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>Chuẩn LAN</td>
                            <td>	v5.0</td>
                        </tr>
                        <tr>
                            <td>Webcam</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>Hệ điều hành</td>
                            <td>Windows 10 Home</td>
                        </tr>
                        <tr>
                            <td>Pin</td>
                            <td>4 Cell 76WHr</td>
                        </tr>
                        <tr>
                            <td>Trọng lượng	</td>
                            <td>1.6 kg
                            </td>
                        </tr>
                        <tr>
                            <td>Màu sắc	</td>
                            <td>Eclipse Gray</td>
                        </tr>
                        <tr>
                            <td>Kích thước</td>
                            <td>32.4 x 22.0 x 1.79 ~ 1.79 cm</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <script>
        const allHoverImages = document.querySelectorAll('.product-detail .product-detail-hover-container div img');
        const imgContainer = document.querySelector('.product-detail .product-detail-img-container');

        window.addEventListener('DOMContentLoaded', () => {
            allHoverImages[0].parentElement.classList.add('prod-det-active');
        });

        allHoverImages.forEach((image) => {
            image.addEventListener('click', () =>{
                imgContainer.querySelector('img').src = image.src;
                resetActiveImg();
                image.parentElement.classList.add('prod-det-active');
            });
        });

        function resetActiveImg(){
            allHoverImages.forEach((img) => {
                img.parentElement.classList.remove('prod-det-active');
            });
        }
    </script>
{% endblock content %}