{% extends 'store/main.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}

{% block content %}

        <section>
            <div class="about">

                <div class="about-container">

                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                        <h3 style="font-size: 2.6rem; color: #2b2b2b; font-weight: 600; margin-bottom: 20px;">About Us</h3>
                    </div>

                    <div class="about-content">
                        <div class="about-article">
                            <h3>
                                Giới thiệu về KHP
                            </h3>
                            <p>
                                Công ty KHP Laptop được thành lập từ tháng 10 năm 2021, khởi đầu khiêm tốn từ mong ước của một game thủ muốn các bạn cùng mong muốn có được một sản phẩm gaming di động mình yêu thích. KHP đã bứt phá trở thành một trong những nhà bán lẻ laptop hàng đầu tại Việt Nam. Là đối tác chiến lược của nhiều thương hiệu lớn hiện nay như Asus, Acer, MSI, HP, Lenovo,…
                            </p>
                            <h3>Tầm nhìn và sứ mệnh</h3>
                            <p>Tôn chỉ luôn được tập thể nhân viên KHP khắc ghi chính là : Khách hàng là trọng tâm . Sau nhiều lần không ngừng hoàn thiện và phát triển với trang thiết bị hiện đại, phong cách quản lý chuyên nghiệp cùng đội ngũ kỹ thuật lành nghề. KHP đã và sẽ luôn mang đến những sản phẩm có chất lượng tốt nhất, dịch vụ đảm bảo cùng giá thành hợp lý nhằm đáp ứng nhu cầu mua sắm quý khách hàng. </p>
                        </div>
                        <div class="about-img">
                            <img src="{% static 'images/7vj87q9i59dZrQyFUMXw95-1200-80.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>

        </section>

{% endblock content %}